*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
nav{
    height: 70px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.395);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    z-index: 100;
    top: 0px;
    left: 0px;
}
.logo{
    width: 80px;
    margin-left: 80px;
}
.right{
    width: 50%;
    height: 100%;

}
.right ul{
    display: inline-flex;
    margin-top: 15px;
    gap: 10px;
    align-items: center;
    
}
.right ul li a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding: 10px;
    border: 2px rgba(240, 248, 255, 0) solid;
    border-radius: 100px;
    color: #00e8d3;
    transition: 0.3s ;
}

.right ul li a:hover{
    border: 2px #00e8d3 solid;
    border-radius: 100px;
}

.btn-1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    margin-top: 0px;
    padding: 10px;
    color: #00e8d3;
    margin-left: 120px;
    border: 2px #00e8d3 solid;
    border-radius: 200px;
    background-color: transparent;
    transition: 0.5s;
}
.btn-1:hover{
    background-color: #00e8d3;
    border: 2px #00e8d3 solid;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.57);
    color: white;
}
/* heroooo===== */

.img{
    background: url('images/pexels-mikael-blomkvist-6476260.jpg')no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}
.img::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.center{
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 20px;
    text-align: center;
}
.center .title{
    color: #00e8d3;
    font-size: 55px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
.center .sub_title{
    color: #fff;
    font-size: 42px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
.center .btns{
    margin-top: 20px;
}
.center .btns button{
    height: 55px;
    width: 170px;
    border-radius: 5px;
    border: none;
    margin: 0 10px;
    border: 2px solid #00e8d3;
    font-size: 20px;
    font-weight: 500;
    padding: 0 10px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
}
.center .btns button:first-child{
    color: #fff;
    background: none;
}
.btns button:first-child:hover{
    background: white;
    border: 2px solid white;
    color: black;
}
.center .btns button:last-child{
    background: #00e8d3;
    color: black;
}

/* services=========== */

.services{
	width:100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
.s-heading{
	text-align:center;
}
.s-heading h1{
	color:#576975;
	font-size: 3rem;
	font-weight: 400;
	letter-spacing: 1px;
	margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.s-heading p{
	color: rgba(87,105,117,0.60);
	font-size: 1rem;
	margin: 5px;
	text-align: center;
}
.s-box-container{
	width:100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.s-box{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	width:300px;
	padding: 20px 25px;
	height: 400px;
	box-sizing: border-box;
	margin: 30px;
	position: relative;
    gap: 20px;
}
.s-box img{
	height: 75px;
    transition: 0.2s all;
}
.s-box h1{
	color: #00e8d3;
	letter-spacing: 1px;
	font-size: 1.5rem;
	margin-bottom: 8px;
	
}
.s-box p{
	color: rgba(87,105,117,0.90);
	text-align: center;
}
.s-btn{
	width: 140px;
	height: 40px;
	border-radius: 20px;
	border:1px solid #00e8d3;
	display: flex;
	justify-content: center;
	align-items: center;
	color:#576975;
	margin-top:10px; 
}
.bar{
	width: 100px;
	height: 6px;
	position: absolute;
	left: 50%;
	top: 0%;
	transform: translateX(-50%);
	background-color:#00e8d3; 
	border-radius: 0px 0px 10px 10px;
	display: none;
	animation: bar 0.5s;
}
.s-box:hover{
	box-shadow: 2px 2px 30px rgba(0,0,0,0.08);
	transition: all ease 0.3s;
}
.s-btn:hover{
	background-color: #00e8d3;
	border: 1px solid  #00e8d3;
	color:#FFFFFF;
	transition: all ease 0.3s;
}
.s-box:hover .bar{
	display: block;
}

.s-box:hover img{
    transform: scale(1.1);
}